name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-randomGuyi:
    if: github.actor == 'randomGuyi'
    runs-on: [self-hosted, docker-compose, randomGuyi]
    name: Build/Test (randomGuyi)
    steps:
      - uses: actions/checkout@v4
      - name: Build Backend
        run: docker build ./backend -f ./backend/Dockerfile -t delifhery-api:latest --no-cache
      - name: Deploy Backend
        run: docker compose up -d --no-deps --force-recreate backend
        env: # Both got the same secrets
          DB_USER: ${{secrets.DB_USER }}
          DB_USER_PW: ${{ secrets.DB_USER_PW }}
          DB_ROOT_PW: ${{ secrets.DB_ROOT_PW }}

  build-HaidingerFlorian:
    if: github.actor == 'HaidingerFlorian'
    runs-on: [self-hosted, docker-compose, HaidingerFlorian]
    name: Build/Test (HaidingerFlorian)
    steps:
      - uses: actions/checkout@v4
      - name: Build Backend
        run: docker build ./backend -f ./backend/Dockerfile -t delifhery-api:latest --no-cache
      - name: Deploy Backend
        run: docker compose up -d --no-deps --force-recreate backend
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_USER_PW: ${{ secrets.DB_USER_PW }}
          DB_ROOT_PW: ${{ secrets.DB_ROOT_PW }}


